@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Sansita+Swashed:wght@300..900&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    background-color: rgb(22, 22, 22);
    box-sizing: border-box;
}

body {
   font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 15vh;
}
nav img {
    width: 10vw;
    height: auto;
}

nav ul{
    width: 45%;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

li{
    background-color: black;
}

nav ul li a{
    color: white;
    background-color: black;
    text-decoration: none;
}

nav ul li a:hover{
    color: red;
    font-weight: bold;
}

nav h2{
    color: white;
    background-color: black;
    padding-left: 3vw;
}

span{
    background-color: black;
}

li:last-child a{
    background-color: red;
    padding: 10px 15px ;
    border-radius: 7px;
}

li:last-child a:hover{
    color: red;
    background-color: white;
}

.hero {
    width: 100%;
    height: 95vh;
    border: 2px solid black;
    background-image: url('../Images/banner.png');
    display: flex;
    justify-content: start;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 10vh;
    margin-top: 15vh;
    color: white;
}

.hero-content h1, .hero-content p {
    background-color: rgba(0, 0, 0, 0)
}

.hero-content button {
    height: 6vh;
    width: 10vw;
    background-color: red;
    color: white;
    border-radius: 7px;
    font-size: 16px;
}

.media {
    width: 100%;
    height: 70vh;
    border: 2px solid black;
    display: flex;
    /* align-items: center; */
}

.text, .video {
    width: 50%;
    height: 70vh;
    color: white;
    margin-top: 5vh;
}

.video video {
    width: 100%;
    height: 85%;
    border-radius: 18px;
    background-color: black;
}
.text h2 {
    margin-top: 20vh;
}

.text h2, .text p {
    margin-left: 5vw;
    margin-right: 5vw;
}

.myself {
    width: 100%;
    height: 40vh;
    color: white;
}

.myself h1, .myself p {
   width: 50vw;
   margin-left: 25vw;
   text-align: center;
}

.myself h1 {
    color: rgb(244, 82, 82);
}

.menu-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 2%;
    padding-left: 1.5%;
}

.card {
    width: 100%;
    height: auto;
    color: white;
    background-color: rgb(53, 47, 47);
    border-radius: 15px;
}

.card img {
    width: 90%;
    height: auto;
    border-radius: 15px;
    margin: 5%;
}

.menu h2 {
    color: rgb(114, 70, 20);
    text-align: center;
}

.card h3, .card p, .card span {
    margin: 0px 5%;
    text-align: center;
    background-color: rgb(53, 47, 47);
}

.card span {
    margin-left: 21%;
}

.card button {
    width: 8vw;
    height: 5vh;
    border-radius: 10px;
    margin-bottom: 3%;
    margin-top: 3%;
    background-color: rgb(61, 2, 2);
    color: rgb(248, 189, 189);
}

.card button:hover {
    background-color: rgb(121, 50, 50);
    color: rgb(58, 16, 16);
}

.icons {
    width: 80%;
    margin: 0% 10%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2%;
}

.icons-card {
    width: 100%;
    height: auto;
}

.icons-card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5%;
}

.icons-card p {
    color: white;
    text-align: center;
}

.cart {
    margin-top: -10px;
}

table {
    color: aliceblue;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    /* border: 1px solid white; */
}

.items img {
    width: 90%;
    height: auto;
}

.items {
    display: grid;
    grid-template-columns: 150px 200px;
    gap: 5%;
}

th {
    background-color: rgb(109, 18, 18);
    padding: 2% 0%; 
      border: 1px solid white;
}

.rows th:first-child {
     border-top-left-radius: 20px;
}

.rows th:last-child {
     border-top-right-radius: 20px;
}

/* .heads {
    margin: 0% 20%;
} */

td {
    text-align: center;
      border: 1px solid white;
}

td button {
   background-color: rgb(129, 26, 26);
   border-radius: 7px;
   padding: 10px 10px;
}

.pad td {
    padding: 15px 0px;
}

.pad td:first-child {
    border-bottom-left-radius: 15px;
}

.pad td:last-child {
    border-bottom-right-radius: 15px;
}

.one {
    padding-left: 15px;
    padding-right: 15px;
}

#heads {
    color: rgb(137, 54, 54);
    text-align: center;
}

.auth {
    color: aliceblue;
    width: 100%;
    height: 90vh;
}

.auth {
    width: 30%;
    height: auto;
    background-color: white;
    color: black;
    border: 5px solid grey;
    margin: 10vh 35%;
    border-radius: 25px;
}

.auth h2 {
    color: rgb(132, 14, 14);
    background-color: white;
    text-align: center;
    text-shadow: 2px 2px 4px grey;
}

.auth form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0% 10%;
    background-color: white;
}

#forget {
    margin: 0% 30%;
    background-color: white;
    color: red;
}

.auth p {
    margin: 5% 10%;
}

.auth form input {
    height: 6vh;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    background-color: beige;
    border-radius: 10px;
    /* border-color: black; */
    border: 2px solid black;
}

.auth form input::placeholder {
    text-align: center;
}

.auth button, .auth p {
    background-color: white;
}

.auth p a {
    background-color: white;
    color: red;
}

.auth form button {
    height: 6vh;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(191, 52, 52);
    color: white;
}

.auth form button:hover {
    background-color: rgb(93, 21, 21);
}

.auth form input:focus {
    border: 3px solid red;
}

#register {
    margin-top: 0%;
}

.deals-page {
    width: 100%;
    height: auto;   
}

.deals-hero {
    width: 80%;
    height: auto;
    background-color:  rgb(77, 76, 76);
    border: 2px solid white;
    margin: 3vh 10%;
    border-radius: 15px;
}

.deals-hero h2, .deals-hero p {
    background-color: rgb(77, 76, 76);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.combo-section {
    width: 100%;
    height: auto;
    margin-bottom: 7vh ;
}

.combo-section h2 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
}

.combo-container {
    width: 90%;
    height: auto;
    margin: 0% 5%;
    /* border: 2px solid white; */
    display: grid;
    gap: 3%;
    grid-template-columns: repeat(3, 1fr);
}

.deals-card {
  /* border: 2px solid greenyellow; */
  background-color: rgb(85, 81, 81);
  border-radius: 15px ;
  height: auto;
  width: 100%;
}

.deals-card img {
    width: 80%;
    height: auto;
    margin: 3% 10%;
     border: 2px solid white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.deals-card h3, .deals-card p, .deals-card h4, .deals-card h4 span {
    background-color: rgb(85, 81, 81);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}

.deals-card button {
   width: 40%;
   height: 5vh;
   color: aliceblue;
   margin-left: 30%;
   background-color: rgb(161, 42, 42);
   border-radius: 5px;
   margin-bottom: 3%;
   font-size: 16px;
   font-weight: bold;
   border: 2px solid white;
}

.deals-card button:hover {
    background-color: rgb(70, 2, 2);
    cursor: pointer;
}

.deals-card h4 span {
    text-decoration: line-through rgb(95, 2, 2);
    color: rgb(157, 154, 154);
}

.deals-card pre {
    width: 60%;
    margin-left: 20%;
    background-color: black;
    color: rgb(213, 14, 14);
    font-family: 'Times New Roman', Times, serif;
    padding: 2% 3%;
    text-align: center;
    margin-bottom: 2vh;
    border-radius: 7px;

}

.deals-card pre:hover {
    background-color: rgb(172, 142, 142);
    color:rgb(72, 32, 32);
    font-weight: bold;
}

.deals-card .offer {
   color: rgb(52, 32, 71);
   border-radius: 10px;
}

.deals-card .para {
    background-color: rgb(113, 111, 111);
    color: rgb(1, 48, 48);
}

.deals-card .para:hover {
    background-color: rgb(49, 42, 42);
    color: rgb(146, 171, 171);
}

.deals-card .offer-ones {
    color: rgb(16, 221, 173);
    border-radius: 10px;
}

.cards:hover {
    background-color: rgb(250, 240, 240);
    color: black;
    h3 {
        background-color: rgb(250, 240, 240);
        color: rgb(15, 15, 118);
    }
    p {
        background-color: rgb(250, 240, 240);
        color: rgb(67, 9, 122);
    }

}

#message {
    background-color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.select {
    background-color: aliceblue;
    color: black;
    height: 6vh;
    border-radius: 8px;
    margin-bottom: 1.5vh;
    border: 2px solid black;
    text-align: center;
    font-size: 16px;
    color:gray;
}
